@model NCS.Models.PlanDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2 class="text-danger">Removing Plan</h2>

        <h3 class="text-danger">Are you sure you want to delete this?</h3>
        <div class="card shadow">
            <div class="card-body">
                <h4>PlanDetail</h4>
                <hr />
                <div class="card shadow">
                    <div class="card-body">
                        <h2>Details</h2>

                        <div>
                            <h4>PlanDetail</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ApplicationUser.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ApplicationUser.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Connection.ConnectionName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Connection.ConnectionName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Duration)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Duration)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>