@model IEnumerable<NCS.Models.PlanDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h2>Plan Details</h2>

            </div>
            <div class="col-2">
                <p>
                    @Html.ActionLink("Create New", "Create", new { @area = "" }, new { @class = "btn btn-light float-right" })
                </p>
            </div>

        </div>

        <table class="table table-bordered table-hover">
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Connection.ConnectionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Connection.ConnectionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>